* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background: #fff;
  margin: auto;
}

#categories .item {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#categories h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

#categories ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

#categories ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: auto;
  width: 1128px;
}

.gallery li img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  height: 256px;
  padding: 24px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.login-form input:hover {
  border: 1px solid #000;
}

.login-form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-top: 8px;
}

.login-form button:hover {
  background: #6c8cff;
}

.widget {
  width: 169px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.widget button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background: #f6f6fe;
  margin: auto;
  margin-bottom: 18px;
  display: flex;
  gap: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 36px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background: #f6f6fe;
  text-align: center;
}

#controls input[type="number"]::-webkit-inner-spin-button,
#controls input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#controls input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#controls button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

#controls button[data-create] {
  background: #4e75ff;
}

#controls button[data-destroy] {
  background: #ff4e4e;
}

#boxes {
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;
}
